html,
body {
  padding: 0;
  margin: 20px;
  font-family: serif;
  background-color: #ddd;
}

ul {
  padding: 0;
}
.no-margins {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .key-val {
  }
}
@media only screen and (min-width: 600px) {
  .key-val {
    display: grid;
    grid: auto / 20% auto;
    gap: 15px;
  }
  .pl {
    padding-left: 10px;
  }
}
